* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    min-height: 100%;
    font: 16px/1.5 -apple-system-font, 'Microsoft Yahei', Tahoma, Helvetica, Arial;
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:link {
    text-decoration: none;
}
a:visited {
    
}
a:hover {
    text-decoration: underline;
}
a:active {
    
}
.ht-header {
    float: left;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px #eee;
}
.ht-header a {
    text-decoration: none;
    color: #222;
}
.ht-wrapper {
    width: 100%;
    min-height: 100%;
}
.ht-logo {
    float: left;
    margin-left: 5px;
    width: 60px;
    height: 60px;
}
.ht-title {
    margin: 8px 0 0 75px;
    font-size: 22px;
}
.ht-info {
    margin: -6px 0 0 75px;
}
.ht-content {
    padding: 80px 6px 0 6px;
}
.ht-pages {
    margin-top: 30px;
}
.ht-pages a {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #999;
    border-radius: 4px;
    color: #444;
    margin-right: 4px;
    font-size: 14px;
    cursor: not-allowed;
    text-decoration: none;
    transition: all .5s;
}
.ht-pages .ht-pl:hover {
    cursor: pointer;
    border-color: blue;
    text-shadow: 1px 1px 1px #ccc;
}
.ht-footer {
    width: 100%;
    background-color: #fdfdfd;
    margin-top: 60px;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0px -2px 4px #eee;
}
.ht-footer h1 {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #bbb;
    margin: 3px 10px 0 0;
}
.ht-footer a {
    font-size: 12px;
    color: #222;
    margin-left: 10px;
    text-decoration: none;
}
.ht-footer a:hover {
    text-shadow: 1px 1px 1px #ccc;
}
