.ht-list li {
    width: 100%;
    padding: 4px 0;
    clear: both;
    zoom: 1;
}
.ht-list li:hover {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 1px #eee;
}
.ht-list-up {
    background: url(../img/up.png) no-repeat;
    background-position: 0 -8px;
    margin-left: -5px;
}
.ht-list-down {
    background: url(../img/down.png) no-repeat;
    background-position: 0 -3px;
}
.ht-list-up,
.ht-list-down {
    width: 32px;
    height: 32px;
    padding-left: 26px;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    color: blue;
}
.ht-list-title {
    color: blue;
    font-size: 22px;
}
.ht-list-thumbs {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
}
.ht-list-thumb {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.ht-list-play {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
}
